OC/Kexts/*/Contents/MacOS/** filter=lfs diff=lfs merge=lfs -text
APPLE/EXTENSIONS/Firmware.scap filter=lfs diff=lfs merge=lfs -text
BOOT/BOOTx64.efi filter=lfs diff=lfs merge=lfs -text
OC/Drivers/* filter=lfs diff=lfs merge=lfs -text
OC/Resources/** filter=lfs diff=lfs merge=lfs -text
OC/Tools/* filter=lfs diff=lfs merge=lfs -text
OC/ACPI/* filter=lfs diff=lfs merge=lfs -text
OC/OpenCore.efi filter=lfs diff=lfs merge=lfs -text
resources/bios-config/*.bin filter=lfs diff=lfs merge=lfs -text
