<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XHC@14000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB30HubPort@14710000  &lt;class AppleUSB30HubPort, id 0x100000d49</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000d49</string>
				<key>name</key>
				<string>AppleUSB30HubPort</string>
				<key>type</key>
				<string>AppleUSB30HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB30HubPort@14710000</string>
				<key>address</key>
				<string>14710000</string>
				<key>port</key>
				<string>01000000</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB30HubPort@14720000  &lt;class AppleUSB30HubPort, id 0x100000d4a</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000d4a</string>
				<key>name</key>
				<string>AppleUSB30HubPort</string>
				<key>type</key>
				<string>AppleUSB30HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB30HubPort@14720000</string>
				<key>address</key>
				<string>14720000</string>
				<key>port</key>
				<string>02000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB30HubPort@14730000  &lt;class AppleUSB30HubPort, id 0x100000d4c</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000d4c</string>
				<key>name</key>
				<string>AppleUSB30HubPort</string>
				<key>type</key>
				<string>AppleUSB30HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB30HubPort@14730000</string>
				<key>address</key>
				<string>14730000</string>
				<key>port</key>
				<string>03000000</string>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB30HubPort@14740000  &lt;class AppleUSB30HubPort, id 0x100000d4d</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000d4d</string>
				<key>name</key>
				<string>AppleUSB30HubPort</string>
				<key>type</key>
				<string>AppleUSB30HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB30HubPort@14740000</string>
				<key>address</key>
				<string>14740000</string>
				<key>port</key>
				<string>04000000</string>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>              SS01@14500000  &lt;class AppleUSB30XHCIPort, id 0x1000002f9</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002f9</string>
				<key>name</key>
				<string>SS01</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>SS01@14500000</string>
				<key>address</key>
				<string>14500000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>05000000</string>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>              SS02@14600000  &lt;class AppleUSB30XHCIPort, id 0x1000002fb</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002fb</string>
				<key>name</key>
				<string>SS02</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>SS02@14600000</string>
				<key>address</key>
				<string>14600000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>06000000</string>
				<key>comment</key>
				<string>FPP2SS</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>07000000</key>
			<dict>
				<key>line</key>
				<string>              SS03@14700000  &lt;class AppleUSB30XHCIPort, id 0x1000002fc</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002fc</string>
				<key>name</key>
				<string>SS03</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - AppleUSB30Hub</string>
					<string>        - AX88179</string>
				</array>
				<key>full_name</key>
				<string>SS03@14700000</string>
				<key>address</key>
				<string>14700000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>07000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>BPP3SS</string>
			</dict>
			<key>08000000</key>
			<dict>
				<key>line</key>
				<string>              SS04@14800000  &lt;class AppleUSB30XHCIPort, id 0x1000002fd</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002fd</string>
				<key>name</key>
				<string>SS04</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>SS04@14800000</string>
				<key>address</key>
				<string>14800000</string>
				<key>connector</key>
				<integer>3</integer>
				<key>port</key>
				<string>08000000</string>
				<key>comment</key>
				<string>BPP4SS</string>
				<key>enabled</key>
				<true/>
			</dict>
		</dict>
		<key>line</key>
		<string>            XHC@14000000  &lt;class AppleUSBXHCIPPT, id 0x10000026b</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x10000026b</string>
		<key>name</key>
		<string>XHC</string>
		<key>type</key>
		<string>AppleUSBXHCIPPT</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>14000000</string>
		<key>parent</key>
		<string>XHC@14</string>
		<key>parent_name</key>
		<string>XHC</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000</string>
		<key>acpi_address</key>
		<string>0x00140000</string>
		<key>pci_debug</key>
		<string>0:20:0</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/XHC@14/XHC@14000000</string>
	</dict>
	<key>EHC2@1a000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>              PR01@1a100000  &lt;class AppleUSBEHCIPort, id 0x10000030d</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000030d</string>
				<key>name</key>
				<string>PR01</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array>
					<string>    - AppleUSB20Hub (HUB-1a100000)</string>
				</array>
				<key>full_name</key>
				<string>PR01@1a100000</string>
				<key>address</key>
				<string>1a100000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>01000000</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>              PR12@1a200000  &lt;class AppleUSBEHCIPort, id 0x100000311</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000311</string>
				<key>name</key>
				<string>PR12</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR12@1a200000</string>
				<key>address</key>
				<string>1a200000</string>
				<key>port</key>
				<string>02000000</string>
				<key>connector</key>
				<integer>255</integer>
			</dict>
		</dict>
		<key>line</key>
		<string>            EHC2@1a000000  &lt;class AppleUSBEHCIPCI, id 0x10000024d</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x10000024d</string>
		<key>name</key>
		<string>EHC2</string>
		<key>type</key>
		<string>AppleUSBEHCIPCI</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>1a000000</string>
		<key>parent</key>
		<string>EHC2@1A</string>
		<key>parent_name</key>
		<string>EHC2</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/EHC2@1a0000</string>
		<key>acpi_address</key>
		<string>0x001A0000</string>
		<key>pci_debug</key>
		<string>0:26:0</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/EHC2@1A/EHC2@1a000000</string>
	</dict>
	<key>HUB-1a100000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a110000  &lt;class AppleUSB20HubPort, id 0x100000370</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000370</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a110000</string>
				<key>address</key>
				<string>1a110000</string>
				<key>port</key>
				<string>01000000</string>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a120000  &lt;class AppleUSB20HubPort, id 0x100000372</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000372</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a120000</string>
				<key>address</key>
				<string>1a120000</string>
				<key>port</key>
				<string>02000000</string>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a130000  &lt;class AppleUSB20HubPort, id 0x100000373</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000373</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - Cruzer Blade</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a130000</string>
				<key>address</key>
				<string>1a130000</string>
				<key>port</key>
				<string>03000000</string>
				<key>comment</key>
				<string>BPP4</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a140000  &lt;class AppleUSB20HubPort, id 0x100000374</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000374</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - AppleUSB20Hub (HUB-1a140000)</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a140000</string>
				<key>address</key>
				<string>1a140000</string>
				<key>port</key>
				<string>04000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>BPP3</string>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a150000  &lt;class AppleUSB20HubPort, id 0x100000375</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000375</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a150000</string>
				<key>address</key>
				<string>1a150000</string>
				<key>port</key>
				<string>05000000</string>
				<key>comment</key>
				<string>BPP2</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>                    AppleUSB20HubPort@1a160000  &lt;class AppleUSB20HubPort, id 0x100000376</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000376</string>
				<key>name</key>
				<string>AppleUSB20HubPort</string>
				<key>type</key>
				<string>AppleUSB20HubPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>AppleUSB20HubPort@1a160000</string>
				<key>address</key>
				<string>1a160000</string>
				<key>port</key>
				<string>06000000</string>
				<key>comment</key>
				<string>BPP1</string>
				<key>enabled</key>
				<true/>
			</dict>
		</dict>
		<key>line</key>
		<string>                  AppleUSB20Hub@1a100000  &lt;class AppleUSB20Hub, id 0x100000362</string>
		<key>indent</key>
		<integer>18</integer>
		<key>id</key>
		<string>0x100000362</string>
		<key>name</key>
		<string>AppleUSB20Hub</string>
		<key>type</key>
		<string>AppleUSB20Hub</string>
		<key>items</key>
		<dict/>
		<key>is_hub</key>
		<true/>
		<key>address</key>
		<string>1a100000</string>
		<key>locationid</key>
		<integer>437256192</integer>
		<key>parent</key>
		<string>HUB-1a100000</string>
		<key>parent_name</key>
		<string>EHC2@1a000000</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/EHC2@1A/EHC2@1a000000/PR01@1a100000/IOUSBHostDevice@1a100000/AppleUSB20Hub@1a100000</string>
	</dict>
	<key>EH01@1d000000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>              PR11@1d100000  &lt;class AppleUSBEHCIPort, id 0x10000030c</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000030c</string>
				<key>name</key>
				<string>PR11</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array>
					<string>    - AppleUSB20InternalIntelHub (HUB-1d100000)</string>
				</array>
				<key>full_name</key>
				<string>PR11@1d100000</string>
				<key>address</key>
				<string>1d100000</string>
				<key>port</key>
				<string>01000000</string>
				<key>connector</key>
				<integer>255</integer>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>              PR12@1d200000  &lt;class AppleUSBEHCIPort, id 0x10000030f</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x10000030f</string>
				<key>name</key>
				<string>PR12</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR12@1d200000</string>
				<key>address</key>
				<string>1d200000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>02000000</string>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>              PR13@1d300000  &lt;class AppleUSBEHCIPort, id 0x100000310</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000310</string>
				<key>name</key>
				<string>PR13</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR13@1d300000</string>
				<key>address</key>
				<string>1d300000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>03000000</string>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>              PR14@1d400000  &lt;class AppleUSBEHCIPort, id 0x100000313</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000313</string>
				<key>name</key>
				<string>PR14</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR14@1d400000</string>
				<key>address</key>
				<string>1d400000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>04000000</string>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>              PR15@1d500000  &lt;class AppleUSBEHCIPort, id 0x100000316</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000316</string>
				<key>name</key>
				<string>PR15</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR15@1d500000</string>
				<key>address</key>
				<string>1d500000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>05000000</string>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>              PR16@1d600000  &lt;class AppleUSBEHCIPort, id 0x100000317</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000317</string>
				<key>name</key>
				<string>PR16</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR16@1d600000</string>
				<key>address</key>
				<string>1d600000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>06000000</string>
			</dict>
			<key>07000000</key>
			<dict>
				<key>line</key>
				<string>              PR17@1d700000  &lt;class AppleUSBEHCIPort, id 0x100000318</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000318</string>
				<key>name</key>
				<string>PR17</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR17@1d700000</string>
				<key>address</key>
				<string>1d700000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>07000000</string>
			</dict>
			<key>08000000</key>
			<dict>
				<key>line</key>
				<string>              PR18@1d800000  &lt;class AppleUSBEHCIPort, id 0x100000319</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x100000319</string>
				<key>name</key>
				<string>PR18</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR18@1d800000</string>
				<key>address</key>
				<string>1d800000</string>
				<key>connector</key>
				<integer>0</integer>
				<key>port</key>
				<string>08000000</string>
			</dict>
		</dict>
		<key>line</key>
		<string>            EH01@1d000000  &lt;class AppleUSBEHCIPCI, id 0x10000026f</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x10000026f</string>
		<key>name</key>
		<string>EH01</string>
		<key>type</key>
		<string>AppleUSBEHCIPCI</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>1d000000</string>
		<key>parent</key>
		<string>EH01@1D</string>
		<key>parent_name</key>
		<string>EH01</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/EH01@1d0000</string>
		<key>acpi_address</key>
		<string>0x001D0000</string>
		<key>pci_debug</key>
		<string>0:29:0</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/EH01@1D/EH01@1d000000</string>
	</dict>
	<key>HUB-1d100000</key>
	<dict>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>                    PRT1@1d110000  &lt;class AppleUSB20InternalIntelHubPort, id 0x100000387</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000387</string>
				<key>name</key>
				<string>PRT1</string>
				<key>type</key>
				<string>AppleUSB20InternalIntelHubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PRT1@1d110000</string>
				<key>address</key>
				<string>1d110000</string>
				<key>port</key>
				<string>01000000</string>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>                    HP12@1d120000  &lt;class AppleUSB20InternalIntelHubPort, id 0x100000380</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000380</string>
				<key>name</key>
				<string>HP12</string>
				<key>type</key>
				<string>AppleUSB20InternalIntelHubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>HP12@1d120000</string>
				<key>address</key>
				<string>1d120000</string>
				<key>port</key>
				<string>02000000</string>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>                    HP13@1d130000  &lt;class AppleUSB20InternalIntelHubPort, id 0x100000381</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000381</string>
				<key>name</key>
				<string>HP13</string>
				<key>type</key>
				<string>AppleUSB20InternalIntelHubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>HP13@1d130000</string>
				<key>address</key>
				<string>1d130000</string>
				<key>port</key>
				<string>03000000</string>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>                    HP14@1d140000  &lt;class AppleUSB20InternalIntelHubPort, id 0x100000382</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000382</string>
				<key>name</key>
				<string>HP14</string>
				<key>type</key>
				<string>AppleUSB20InternalIntelHubPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>HP14@1d140000</string>
				<key>address</key>
				<string>1d140000</string>
				<key>port</key>
				<string>04000000</string>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>                    HP15@1d150000  &lt;class AppleUSB20InternalIntelHubPort, id 0x100000383</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000383</string>
				<key>name</key>
				<string>HP15</string>
				<key>type</key>
				<string>AppleUSB20InternalIntelHubPort</string>
				<key>items</key>
				<array>
					<string>    - SanDisk 3.2Gen1</string>
				</array>
				<key>full_name</key>
				<string>HP15@1d150000</string>
				<key>address</key>
				<string>1d150000</string>
				<key>port</key>
				<string>05000000</string>
				<key>comment</key>
				<string>FPP3</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>                    HP16@1d160000  &lt;class AppleUSB20InternalIntelHubPort, id 0x100000384</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000384</string>
				<key>name</key>
				<string>HP16</string>
				<key>type</key>
				<string>AppleUSB20InternalIntelHubPort</string>
				<key>items</key>
				<array>
					<string>    - USB-HID Keyboard</string>
				</array>
				<key>full_name</key>
				<string>HP16@1d160000</string>
				<key>address</key>
				<string>1d160000</string>
				<key>port</key>
				<string>06000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>FPP4</string>
			</dict>
			<key>07000000</key>
			<dict>
				<key>line</key>
				<string>                    HP17@1d170000  &lt;class AppleUSB20InternalIntelHubPort, id 0x100000385</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000385</string>
				<key>name</key>
				<string>HP17</string>
				<key>type</key>
				<string>AppleUSB20InternalIntelHubPort</string>
				<key>items</key>
				<array>
					<string>    - USB Mass Storage Device</string>
				</array>
				<key>full_name</key>
				<string>HP17@1d170000</string>
				<key>address</key>
				<string>1d170000</string>
				<key>port</key>
				<string>07000000</string>
				<key>enabled</key>
				<true/>
				<key>comment</key>
				<string>CardReader</string>
			</dict>
			<key>08000000</key>
			<dict>
				<key>line</key>
				<string>                    HP18@1d180000  &lt;class AppleUSB20InternalIntelHubPort, id 0x100000386</string>
				<key>indent</key>
				<integer>20</integer>
				<key>id</key>
				<string>0x100000386</string>
				<key>name</key>
				<string>HP18</string>
				<key>type</key>
				<string>AppleUSB20InternalIntelHubPort</string>
				<key>items</key>
				<array>
					<string>    - Cruzer Blade</string>
				</array>
				<key>full_name</key>
				<string>HP18@1d180000</string>
				<key>address</key>
				<string>1d180000</string>
				<key>port</key>
				<string>08000000</string>
				<key>comment</key>
				<string>CardReaderUSB</string>
				<key>enabled</key>
				<true/>
			</dict>
		</dict>
		<key>line</key>
		<string>                  AppleUSB20InternalIntelHub@1d100000  &lt;class AppleUSB20InternalIntelHub, id 0x100000365</string>
		<key>indent</key>
		<integer>18</integer>
		<key>id</key>
		<string>0x100000365</string>
		<key>name</key>
		<string>AppleUSB20InternalIntelHub</string>
		<key>type</key>
		<string>AppleUSB20InternalIntelHub</string>
		<key>items</key>
		<dict/>
		<key>is_hub</key>
		<true/>
		<key>address</key>
		<string>1d100000</string>
		<key>locationid</key>
		<integer>487587840</integer>
		<key>parent</key>
		<string>HUB-1d100000</string>
		<key>parent_name</key>
		<string>EH01@1d000000</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/EH01@1D/EH01@1d000000/PR11@1d100000/IOUSBHostDevice@1d100000/AppleUSB20InternalIntelHub@1d100000</string>
	</dict>
</dict>
</plist>
