<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HS01</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - Bluetooth USB Host Controller</string>
		</array>
		<key>name</key>
		<string>Front Panel P1 USB2 (Internal)</string>
		<key>port</key>
		<integer>1</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>255</integer>
	</dict>
	<key>HS02</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - Cruzer Switch</string>
			<string>    - AX88179</string>
			<string>    - NS1066</string>
			<string>    - Expansion</string>
		</array>
		<key>name</key>
		<string>Front Panel P2 USB2</string>
		<key>port</key>
		<integer>2</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS03</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>3</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>HS04</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>4</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>PR11</key>
	<dict>
		<key>controller</key>
		<string>EH01</string>
		<key>items</key>
		<array>
			<string>    - hub_device</string>
			<string>        - USB Mass Storage Device</string>
			<string>        - Cruzer Switch</string>
			<string>        - AX88179</string>
		</array>
		<key>name</key>
		<string>Front Panel P3/P4 USB2 (Hub)</string>
		<key>port</key>
		<integer>1</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>255</integer>
	</dict>
	<key>PR12</key>
	<dict>
		<key>controller</key>
		<string>EH01</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>2</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR13</key>
	<dict>
		<key>controller</key>
		<string>EH01</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>3</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR14</key>
	<dict>
		<key>controller</key>
		<string>EH01</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>4</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR15</key>
	<dict>
		<key>controller</key>
		<string>EH01</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>5</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR16</key>
	<dict>
		<key>controller</key>
		<string>EH01</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>6</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR17</key>
	<dict>
		<key>controller</key>
		<string>EH01</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>7</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR18</key>
	<dict>
		<key>controller</key>
		<string>EH01</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>8</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR21</key>
	<dict>
		<key>controller</key>
		<string>EH02</string>
		<key>items</key>
		<array>
			<string>    - hub_device</string>
			<string>        - hub_device</string>
			<string>            - hub_device</string>
			<string>                - USB-HID Keyboard</string>
			<string>        - AX88179</string>
			<string>        - Cruzer Switch</string>
			<string>                - Cruzer Switch</string>
		</array>
		<key>name</key>
		<string>Rear P1/P2/P3/P4 USB2 (Hub)</string>
		<key>port</key>
		<integer>1</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>255</integer>
	</dict>
	<key>PR22</key>
	<dict>
		<key>controller</key>
		<string>EH02</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>2</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR23</key>
	<dict>
		<key>controller</key>
		<string>EH02</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>3</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR24</key>
	<dict>
		<key>controller</key>
		<string>EH02</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>4</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR25</key>
	<dict>
		<key>controller</key>
		<string>EH02</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>5</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>PR26</key>
	<dict>
		<key>controller</key>
		<string>EH02</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>6</integer>
		<key>selected</key>
		<false/>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<key>SS01</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>5</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS02</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
		</array>
		<key>port</key>
		<integer>6</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS03</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - hub_device</string>
			<string>        - hub_device</string>
			<string>    - AD TO BE II</string>
			<string>            - AX88179</string>
		</array>
		<key>name</key>
		<string>Rear P3 USB3</string>
		<key>port</key>
		<integer>7</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<key>SS04</key>
	<dict>
		<key>controller</key>
		<string>XHC</string>
		<key>items</key>
		<array>
			<string>    - AX88179</string>
		</array>
		<key>name</key>
		<string>Rear P4 USB3</string>
		<key>port</key>
		<integer>8</integer>
		<key>selected</key>
		<true/>
		<key>type</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
